<!DOCTYPE html>
<html>
<head>
    <title>Buildings List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1>Person List</h1>
    <ul class="list-group col-md-6">
    {% for building in buildings %}
        <li class="list-group-item"><a href="{% url 'buildings_detail' building.BuildingID %}">{{ building.Building_Name }} {{ building.Year_Built }}</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'building_create' %}" class="btn btn-primary mt-3">Create New Building</a>
</body>
</html>

