<!DOCTYPE html>
<html>
<head>
    <title>Access Record List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1>Access Record List</h1>
    <ul class="list-group col-md-6">
    {% for accessrecord in accessrecords %}
        <li class="list-group-item"><a href="{% url 'accessrecord_detail' accessrecord.RecordID %}">Access Record {{ accessrecord.RecordID }}</a></li>
    {% endfor %}
    </ul>
    <a href="{% url 'accessrecord_create' %}" class="btn btn-primary mt-3">Create New Access Record</a><br>
    <a href="{% url 'access_records' %}" class="btn btn-primary mt-3">Generate Access Record Reports</a><br><br>
    <br>
    <br><a href="{% url 'home' %}" class="btn btn-primary">Go back to Home</a>
</body>
</html>
