<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom styles */
        body {
            padding: 20px;
        }
        .btn-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Home Page</h1>
        <div class="btn-container">
            <a href="{% url 'person_list' %}" class="btn btn-primary">Go to Persons List</a>
            <a href="{% url 'building_list' %}" class="btn btn-primary">Go to Buildings List</a>
            <a href="{% url 'rooms.view' %}" class="btn btn-primary">Go to Rooms List</a>
            <a href="{% url 'accessrecord_list' %}" class="btn btn-primary">Go to Access Records List</a>
            <a href="{% url 'accesspermission_list' %}" class="btn btn-primary">Go to Access Permissions List</a>
            <!-- Add links to other pages as needed -->
        </div>
    </div>
</body>
</html>
